.main-badge {
  margin: auto;
  /* margin-top: 20px; */
  /* --border-radius: 20px; */
  background: #949494;
  border: 2px black solid;
  margin-top: 10px;
  margin-bottom: 5px;

  .main-badge-icon {
    position: absolute;
    top: 47px;
    right: 116px;
  }
}

ion-card-content {
  padding: 0px !important;
}

ion-card {
  border-radius: 10%;
}

ion-card-title {
  font-size: 16px;
}

.main-badge-img {
  height: 150px;
}

.avatar-container {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  max-width: 100px !important; //any size
  // max-height: 100px !important; //any size
  --border-radius: 20px;
}

#tick {
  font-size: 18px;
  position: absolute;
  bottom: -2px;
  right: -8px;
}

.icon-achievement-img {
  filter: brightness(34%);
}
