<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-badge *ngIf="showPulse" color="danger" class="pulse-badge">1</ion-badge> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div class="quote-container">
    <img class="home-img" src="assets/365+.png" alt="Marcus Aurelius">
    <p>"You have power over your mind - not outside events. Realize this, and you will find strength."</p>
  </div>
</ion-content>